.margin-left {
  margin-left: 10px;
}
.margin-left-xs {
  margin-left: 3px;
}
.margin-right {
  margin-right: 10px;
}
.margin-top {
  margin-top: 10px;
}
.margin-top-med {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 10px;
}
.margin-bottom-lg {
  margin-bottom: 80px;
}

.padding-top {
  padding-top: 10px;
}
.padding-bottom {
  padding-bottom: 10px;
}
.padding-bottom-med {
  padding-bottom: 20px;
}
.padding-bottom-small {
  padding-bottom: 5px;
}