
.gridHoverFilter {
  text-decoration: none;
  display: none;
  color: var(--neutral-light-text);
}

td:hover .gridHoverFilter {
  display: unset;
}

.detailsRow {
  padding-right: 10px;
}
.detailsRow > * > div {
  padding-top: 10px;
  max-height: 250px;
  overflow: auto;
}

h1.fallback { 
  margin-left: 10px;
  color: var(--neutral-5);
  font-size: 2em;
  margin-top: 5px;
}